@model IEnumerable<FootballLeagues.Web.Models.Rounds.RoundsViewModel>

@foreach (var round in Model)
{
    <a href="@Url.Action("View", "Rounds", new {round.Id})">Round - @round.Number</a>
    <br/>
}