@model Tuple<List<FootballLeagues.Web.Models.Rounds.RoundsViewModel>, List<FootballLeagues.Web.Models.LeagueSeason.LeaguesSeasonsViewModel>>

<div class="row">
    <div class="col-lg-8">
        @Html.Partial("DisplayTemplates/Rounds")
    </div>
    <div class="col-lg-4">
        <div class="well bs-component">
            <fieldset>
                <legend>Choose season</legend>
                @using (Html.BeginForm("Details", "Leagues", FormMethod.Get, new {@class = "form-horizontal"}))
                {
                    <div class="form-group col-lg-12">
                        <select class="form-control" id="DownloadValuesId" onchange="window.location.href = this.value">
                            @foreach (var round in Model.Item2)
                            {
                                <option selected="selected" value="@round.LeagueId/@string.Format("{0}-{1}", round.StartYear, round.EndYear)">@round.StartYear-@round.EndYear</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary" value="Submit"/>
                    </div>
                }
            </fieldset>
        </div>
    </div>
</div>