@model FootballLeagues.Web.Models.GameViewModel

<div class="row">
    @Html.DisplayFor(model => Model.HomeTeam.Name)
    @Html.DisplayFor(model => Model.HomeGoals)
    @Html.DisplayFor(model => Model.AwayGoals)
    @Html.DisplayFor(model => Model.AwayTeam.nA)

</div>
