body {
    padding-top: 70px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    /*max-width: 280px;*/
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

/*live chat*/
#messages, #info {
    max-width: 500px;
    height:100px;
    overflow-y:scroll;
    border:1px dotted #e66631;
    margin:4px;
    margin-bottom: 10px;
}

.btn-right {
    float:right;
    margin-right: 4px;
}
#activeUsers {
    list-style-type: none;
}
#roomlabel, #activeUsers li {
    font-family: 'Segoe UI', Tahoma, sans-serif;
    font-weight: bold;
    color: #8ebc00;
    font-size: 18px; 
}
#roomlabel
{
    display: block;
    float:left;
    max-width: 155px;
    max-width: 155px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.mess-conn {
     margin-bottom: 12px; 
}
.sp-info {
    background: #44bad4;
    color: #fff;
    font-size: 12px;
    border-radius: 3px;
    padding: 1px 4px;
    margin: 4px 65px 0 0;
}